*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Courier New', Courier, monospace
}

header{
  text-align: center;
  background-color: rgba(43, 115, 223, 0.822);
  color: white;
  padding: 10px 0;
  margin-bottom: 35px;
}

section{
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;  
}

.section_links{
  width: 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.section_links a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: rgba(43, 115, 223, 0.822);
  border-radius: 5px;
}

.table__calendar{
  width: 100%;
  height: calc(100vh - 149px);
  border-collapse: collapse;
  font-size: 18px;
}

.table__week td{
  width: calc(100% / 7);
  height: 20%;
  border: #CCC solid 1px;
  padding: 10px;
  vertical-align: top;
}

.table__6weeks td{
  height: calc(100% / 6);
}

.calendar__day{
  font-weight: bold;
}

.calendar_not_same_date{
  opacity: 0.3;
}

.calendar__events{
  margin-top: 8px;
  font-size: 15px;
}

.calendar__events span{
  font-weight: 700;
}

/* addevent.php */

.section_event{
  height: calc(100vh - 107px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  
}

.section_event form{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
}

form input{
  height: 40px;
   
}

form textarea{
  height: 120px;
}

form textarea, form input{
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  border: solid #ccc 1px;
}

form textarea:focus, form input:focus{
  border-color:rgba(43, 115, 223, 0.822)
}

.form_date_start, .form_date_end{
  display: flex;
  gap: 15px
}

.form_date_start input:first-child, 
.form_date_end input:first-child{
  width: 30%;
}

.form_date_title input, 
.form_date_description textarea{
  width: 100%;
}

.form_date_title input::placeholder, 
.form_date_description textarea::placeholder{
  font-size: 18px;
}

form button{
  height: 35px;
  color: white;
  background-color: rgba(43, 115, 223, 0.822);
  border-radius: 5px;
  border: transparent;
  font-weight: bold;
  font-size: 18px;
}

form button:hover{
  cursor: pointer;
  border: solid rgb(55, 55, 206) 2px;
  
}
