*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;  
}

.header_links{
  width: 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header_links a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.table__calendar{
  width: 100%;
  height: calc(100vh - 68px);
  border-collapse: collapse;
  font-size: 18px;
}

.table__week td{
  width: calc(100% / 7);
  height: 20%;
  border: #CCC solid 1px;
  padding: 10px;
  vertical-align: top;
}

.table__6weeks td{
  height: calc(100% / 6);
}

.calendar__day{
  font-weight: bold;
}

.calendar_not_same_date{
  opacity: 0.3;
}